<div class="container">
    <div class="row row-centered justify-content-md-center">
        <div class="col col-lg-8 col-centered pt-5 bg-info rounded">
            <h1>TO-DO APP</h1>
            <div class="">
                <%= bootstrap_form_with scope: :task, url: tasks_path, :class => "form-inline" do |f| %>
                    <%= f.text_field :name, :size=>"70", placeholder: "Add new task", skip_label: true %>
                    <%= f.submit "Add Task", class: "btn btn-primary" %>
                <% end %>
            </div>
        
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="">
                    <h3 class="text-secondary">INCOMPLETED TASKS</h3>
                        <ol class="list-group">
                        <% @tasks.each do |task| %>
                            <% if task.status == false %>
                                <li class="list-group-item clearfix text-left">
                                    <div class="inline" style="margin-top: 6px;">
                                        <%= task.name.capitalize %>
                                    </div>
                                    <div class="inline pull-right">
                                        <%= link_to 'Completed!', task, method: :put, class: "btn btn-success" %>
                                    </div>
                                </li>
                            <% end %>
                        <% end %>
                        </ol>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="">
                    <h3 class="text-secondary">COMPLETED TASKS</h3>
                        <ol class="list-group ">
                        <% @tasks.each do |task| %>
                            <% if task.status == true %>
                                <li class="list-group-item text-left clearfix">
                                    <div class="inline" style="margin-top: 6px;">
                                        <%= task.name.capitalize %>
                                    </div>
                                    <div class="inline pull-right">
                                        <%= link_to 'Delete', task, method: :delete, class: "btn btn-danger pull-right" %>
                                        <%= link_to 'Incompleted!', task, method: :put, class: "btn btn-info pull-right", style: style="margin-right: 5px;" %>
                                    </div>
                                </li>
                            <% end %>
                        <% end %>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>